body {
  background-color: rgb(36, 34, 34);
}

.selector-for-some-widget {
  box-sizing: content-box;
}

.container-fluid {
  width: 100%;
  color: yellow;
  text-align: center;
}

.areaHome {
  text-align: center;
  background-color: grey;
}

.btn-login {
  width: 100%;
  background-color: orange;
  border: none;
}

#inputEmail {
  border: none;
}

#inputPass {
  border: none;
}

#OlvidasteContraseña {
  color: white;
}

.imgLogo {
  width: 60%;
  height: auto;
}
.btn {
  background-color: #F6A800;
};

#areaSaldo {
  background-color: grey;
}

.orange {
  background-color: #F6A800;
}

#photoProfile {
  background-color: orange;
}