.selector-for-some-widget {
  box-sizing: content-box;
}

.container-fluid {
  width: 100%;
  background-color: rgb(36, 34, 34);
  color: yellow;
  text-align: center;
}

.loginUser {
  text-align: center;
}

.btn-login {
  width: 100%;
  background-color: orange;
  border: none;
}

#inputEmail {
  border: none;
}

#inputPass {
  border: none;
}

#OlvidasteContraseña {
  color: white;
}